body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 20px;
}

header {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 15px;
    border-radius: 10px;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #00bfff;
    text-decoration: none;
    font-weight: bold;
}

section {
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
}

img {
    margin-top: 10px;
    border-radius: 10px;
}

a {
    display: inline-block;
    margin-top: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #222;
    color: white;
    border-radius: 10px;
}